.menu{
	position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background: white;
}
.menu > .background {
    height: 100vh;
    padding: 20px;
    width: 220px;
    padding-top: 70px;
    text-align: center;
}
.menu > .background > .logo {
	width:80px;
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}
.menu > .background > .logo img{
    width: 80px;
}
.menu > .background > .menuListWrapper {
    display: inline-block;
    text-align: left;
    margin-bottom: 70px;
}

.menu > .background > .menuListWrapper > .aLink {
	color:black;
}

.menu > .background > .menuListWrapper > .aLink > .list{

}

.lang{

}
.lang > .label{

}
.lang > .btnWrapper{
	display: inline-block;
	font-size: 70%;
}
.lang > .btnWrapper .btn{
	display: inline-block;
}
.snsArea{
	position: absolute;
    bottom: 80px;
    width: 100%;
}
.snsArea .icon{
	display:inline-block;
	margin-right: 10px;
	
}
.snsArea .icon img{
	width:30px;
}
.snsArea .list{
	display:inline-block;
}


.sArea{
	position: absolute;
    bottom: 30px;
    display: inline-block;
    text-align: center;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}
.sArea > .logo{
	width: 90px;
    display: inline-block;
}
.sArea > .info{

}
.sArea > .info > .period{
    margin-bottom: 10px;
}
.sArea > .info > .period > .day{
    margin-bottom: 5px;
}
.sArea > .info > .period > .time{

}
.sArea > .info > .place{

}

/* スマホ縦画面用 */
@media only screen and (max-width: 1024px) and (orientation:portrait){
	
	.openMenu{
		position:fixed;
		z-index: 200;
		top:0;
		left:0;
	}
	.openMenu > .base{
		width: 100vw;
		height: 0;
		opacity: 0;
		background: white;
		overflow: hidden;
        position: relative;
	
		/* for animation */
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-ms-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
	}
	.openMenu > .base > .menuListWrapper{
		text-align: left;
		margin-top: 30px;
		margin-left: 30px;
		font-size: 120%;
	}
	.openMenu > .base > .menuListWrapper .list{
		margin-bottom:10px;
		
	}
	.openMenu > .btn{
		position:absolute;
		top:10px;
		right:10px;
	}
	.openMenu > .btn > .bar{
		height:1px;
		width: 30px;
		margin-bottom: 11px;
		background:black;
	
		/* for animation */
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-ms-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
	}
	.rotate45 {
		-moz-transform: translate(0px,10px) rotate(45deg);
		-webkit-transform: translate(0px,10px) rotate(45deg);
		-o-transform: translate(0px,10px) rotate(45deg);
		-ms-transform: translate(0px,10px) rotate(45deg);
		transform: translate(0px,10px) rotate(45deg);
	}
	.rotate_45{
		-moz-transform: translate(0px,-2px) rotate(-45deg);
		-webkit-transform: translate(0px,-2px) rotate(-45deg);
		-o-transform: translate(0px,-2px) rotate(-45deg);
		-ms-transform: translate(0px,-2px) rotate(-45deg);
		transform: translate(0px,-2px) rotate(-45deg);
	}
	.sArea{
		position: absolute;
        top: calc(100vh);
        display: inline-block;
        text-align: LEFT;
        width: 200px;
        height: 260px;
        left: 40PX;
        transform: translateY(calc(-100% - 30px));
	}
	.snsArea{
		bottom: initial;
		top: 100vh;
		transform: translate(calc(-100% - 10px), calc(-100% - 30px));
		display: inline-block;
		left: 100%;
		width: 120px;
	}
	.lang {
		display: inline-block;
		position: absolute;
		top: 50px;
		right: 30px;
		text-align: center;
	}
	.lang > .btnWrapper {
		display: inline-block;
		font-size: 100%;
	}
}