
.pageWrapper{

}
.pageWrapper > .contentsWrapper{

}
.pageWrapper > .contentsWrapper > .contents{
}
.pageWrapper > .contentsWrapper > #top{
	width:100vw;
	height:100vh;
	background-red;
	overflow:hidden
}
.pageWrapper > .contentsWrapper > #top > .thumbnailWrapper{
	width:calc(100vw + 240px);
	height:calc(100vh + 240px);
}

.pageWrapper > .contentsWrapper > #top > .thumbnailWrapper > .linePats{
 
    display: inline-block;
	width:240px;
	padding: 0 10px;
}

.pageWrapper > .contentsWrapper > #top > .thumbnailWrapper > .linePats > .block{
	width:100%;
	height:calc(240px * 0.6666);
	margin-bottom: 25px;
	background:green;

.pageWrapper > .contentsWrapper > #top > .thumbnailWrapper > .linePats > .block > .image{
}
.pageWrapper > .contentsWrapper > #top > .thumbnailWrapper > .linePats > .block > .image img{
}


/* スマホ縦画面用 */
@media only screen and (max-width: 1024px) and (orientation:portrait){

}