
.pageWrapper{
	padding-right: 180px;
	font-size: 90%;
}
.pageWrapper > .topImage{
	width: calc(100vw - 273px);
    height: calc(100vh - 160px);
    margin: 80px;
}
.pageWrapper > .topImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exhibitorInfo{
	padding-left:80px;
}
.exhibitorInfo > .captionArea{
	display:inline-block;
	position:sticky;
	top:80px;
    width: 680px;
	vertical-align: top;
	padding-right:50px;
}
.partsWrapper{
    margin-bottom: 50px;
    padding-top: 20px;
}
.partsWrapper > .parts{
	margin-bottom:5px;
}
.partsWrapper > .parts > .label{
	margin-right:10px;
	display:inline-block;
	vertical-align:middle;
}
.partsWrapper > .parts > .label img{
	width:20px;
    vertical-align: middle;
}
.partsWrapper > .parts > .data{
	display:inline-block;
	vertical-align:middle;
}
.partsWrapper > .parts > .artName{
	font-size:150%;
    line-height: initial;
}
.partsWrapper > .parts > .brandName{
	font-size:150%;
    line-height: initial;
}
.exhibitorInfo > .captionArea > .caption{
	margin-bottom:60px;
	padding-right:30px;
}
.exhibitorInfo > .captionArea > .caption > .title{
	font-size:120%;
	margin-bottom:10px;
}
.exhibitorInfo > .captionArea > .caption > .text{
}
.exhibitorInfo > .imageArea{
	display:inline-block;
    width: calc(100% - 700px);
}
.exhibitorInfo > .imageArea > .image{
	margin-bottom:10px;
}
.exhibitorInfo > .imageArea > .image img{
	width:100%;
    margin-bottom: 30px;

}
.pageWrapper > .contentsWrapper{
	margin:80px;
    padding-right: 0;
}
.pageWrapper > .contentsWrapper > .contents{
}

.pageWrapper > .contentsWrapper > .contents > .title{
	font-size: 220%;
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}
.pageWrapper > .contentsWrapper > .contents > .title::after{
	display: inline-block;
    content: " ";
    width: 1px;
    height: 80px;
    background: black;
    position: absolute;
    top: 100%;
    left: 50%;
}
.pageWrapper > .contentsWrapper > .contents > .substance{ 
   display: inline-block;
    text-align: left;

}
.pageWrapper > .contentsWrapper > .contents > .substance > .captionArea{
    width: calc(100% - 770px);
    display: inline-block;
	padding:40px;
	vertical-align: top;
}
.pageWrapper > .contentsWrapper > .contents > .substance > .image{
	width: 750px;
    display: inline-block;

}
.pageWrapper > .contentsWrapper > .contents > .substance > .image img{
	margin-bottom:30px;
}


#profile{
	margin-bottom:100px;
	    text-align: center;
}
#subExhibitor{
	text-align:center;
}

#subExhibitor > .parts{
    display: inline-block;
    width: calc(33% - 65px);
    margin: 30px;
    text-align: left;
}
#subExhibitor > .parts > .imageArea{

}
#subExhibitor > .parts > .imageArea img{
	width:100%;
	aspect-ratio: 1 / 1;
	object-fit:cover;

}
#subExhibitor > .parts > .exhibitorInfo{
	padding-left:0;
}

#subExhibitor > .parts > .exhibitorInfo > .captionArea{
	width:100%;
    padding-right: 0;
}
#subExhibitor > .parts > .exhibitorInfo > .captionArea > .parts{
	margin-bottom:10px;
}
#subExhibitor > .parts > .exhibitorInfo > .captionArea > .parts > .label{
	width:20px;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
#subExhibitor > .parts > .exhibitorInfo > .captionArea > .parts > .label img{
	vertical-align:middle;
}
#subExhibitor > .parts > .exhibitorInfo > .captionArea > .parts > .data{
	display:inline-block;
	vertical-align:middle;
    width: calc(100% - 50px);
}
#subExhibitor > .parts > .exhibitorInfo > .captionArea > .concept{
	margin-bottom:30px;
}
#subExhibitor > .parts > .exhibitorInfo > .captionArea > .exhibitorName{
	font-size:150%;
	margin-bottom:5px;
}

#subExhibitor > .parts > .captionArea{

}
#subExhibitor > .parts > .captionArea > .parts{


}
#subExhibitor > .parts > .captionArea > .parts > .label{

}
#subExhibitor > .parts > .captionArea > .parts > .data{

}

/* スマホ縦画面用 */
@media only screen and (max-width: 1024px) and (orientation:portrait){
	.pageWrapper {
    	padding-right: 0;
		padding;0 30px;
	}
	.pageWrapper > .topImage {
		width: calc(100vw - 60px);
		height: initial;
		margin: 30px;
        margin-bottom: 60px;
	}
	.exhibitorInfo {
		padding: 0 30px;
	}
	.exhibitorInfo > .captionArea {
		width: 100%;
        padding-right: 0;
	}
	.pageWrapper > .contentsWrapper > .contents > .substance > .image {
		width: 100%;
	}
	.pageWrapper > .contentsWrapper {
		margin: 30px;
	}
	.exhibitorInfo > .captionArea > .caption {
    	padding-right: 0px;
	}
	.pageWrapper > .contentsWrapper > .contents > .substance > .captionArea {
		width: 100%;
        padding: 20px 0;;
	}
	#subExhibitor > .parts {
		width: 100%;
		margin: 0px;
	}
	.exhibitorInfo > .imageArea {
		width: 100%;
	}
	.partsWrapper > .parts > .data {
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 40px);
	}

}